<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
   <meta charset="utf-8">
   <title>Registration Page</title>
</head>
<body>
<form action="#" th:action="@{/registration}" th:object="${userForm}" method="post">
   <table>
      <tr>
         <td th:if="${usernameError}">Пользователь с таким именем уже существует</td>
      </tr>
      <tr>
         <td>User name:</td>
         <td><input type="text" th:field="*{username}" placeholder="Login"/></td>
      </tr>
      <tr>
         <td>Password:</td>
         <td><input type="password" th:field="*{password}" placeholder="Password" /></td>
      </tr>
      <tr>
         <td>Confirm password:</td>
         <td><input type="password" th:field="*{passwordConfirm}" placeholder="Confirm your password" /></td>
      </tr>
      <tr>
         <td th:if="${passwordConfirmError}">Пароли не совпадают</td>
         <td th:if="${passwordError}">Пароль должен быть больше 4 символов</td>
      </tr>
      <tr>
         <td><button type="submit">Submit</button></td>
      </tr>
   </table>
</form>
<div><p>Click <a th:href="@{/login}">here</a> to login.</p></div>
</body>
</html>