<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<title>User page</title>
</head>
<body>
<div><h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="log Out"/>
    </form></div>
<div id="wb_ListView1" style="position:absolute;left:330px;top:195px;width:289px;height:163px;z-index:6;">
<ul id="ListView1" style="margin-top:0;margin-bottom:0;">
<li>Item 1</li>
<li>Item 2</li>
<li>Item 3</li>
<li>Item 4</li>
</ul></div>
<div id="wb_Text1" style="position:absolute;left:280px;top:35px;width:411px;height:30px;text-align:center;z-index:7;">
<span style="color:#000000;font-family:Arial;font-size:27px;">Web application for you finance</span></div>
</div>
</body>
</html>